<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> MENU PAGE </h3>
<p>
    <a href="/bidList/list">BidList Management</a> or <a href="/curvePoint/list">Curve Point Management</a>
    <br>
    <a href="/rating/list">Rating Management</a> or <a href="/rulename/list">Rule Name Management</a>
    <br>
    <a href="/trade/list">Trade Management</a>
</p>
</body>
</html>